.cart {
    padding: 72px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.cart__products {
    width: 856px;
    min-height: 340px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 10px 20px -2px rgba(0, 0, 0, 0.04), 0px 2px 15px -3px rgba(0, 0, 0, 0.07);
}

.cart__title {
    padding: 16px 24px 18px 24px;
    color: #4F4F4F;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    border-bottom: 2px solid #F5F5F5;
}

.cart__divider {
    margin: 24px 0;
    opacity: 0.25;
    background: #4F4F4F;
}

.cart__summary {
    align-self: start;
    width: 416px;
    min-height: 242px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 10px 20px -2px rgba(0, 0, 0, 0.04), 0px 2px 15px -3px rgba(0, 0, 0, 0.07);
}

.cart__summary-title {
    color: #4F4F4F;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    padding: 16px 306px 18px 24px;
    border-bottom: 2px solid #F5F5F5;
}

.cart__summary-wrapper {
    padding: 24px;
}

.cart__summary-wrapper div {
    display: flex;
    padding: 7px 0px 0.59px 0px;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
}

.cart__summary-wrapper div:nth-child(2) {
    margin-bottom: 24px;
}

.cart__summary-quantity, .cart__summary-amount {
    color: #4F4F4F;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
}

.cart__summary-amount {
    font-weight: 700;
}

.cart__summary-btn {
    display: flex;
    padding: 12px 125.91px 10.39px 126.09px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 4.8px;
    border: 0;
    background: #3B71CA;
    box-shadow: 0px 4px 9px -4px #3B71CA;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 22.4px;
    text-transform: uppercase;
    cursor: pointer;
}

.cart__summary-btn:hover {
    background: #000;
}

@media (max-width: 480px) {
    .cart {
        flex-direction: column;
    }

    .cart__products {
        width: 96vw;
    }

    .cart__divider {
        margin-bottom: 48px;
    }

    .cart__summary {
        width: 96vw;
        align-self: center;
    }
    .cart__summary-title {
        padding: 16px 55vw 18px 24px;
    }

    .cart__summary-btn {
        width: 100%;
        padding: 11px 0;
    }
}