.product__item {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 10px 20px -2px rgba(0, 0, 0, 0.04), 0px 2px 15px -3px rgba(0, 0, 0, 0.07);
    overflow: hidden;
}

.product__container {
    width: 264px;
    padding: 0 12px;
}

.product__img {
    width: 100%;
}

.product__descr {
    padding: 24px;
}

.product__name {
    color: #4F4F4F;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 8px;
}

.product__price {
    color: #4F4F4F;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    margin-bottom: 15.6px;
}

.product__btn {
    width: 129px;
    height: 36px;
    border: 0;
    border-radius: 4px;
    background: #3B71CA;
    box-shadow: 0px 4px 9px -4px #3B71CA;
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

.product__btn:hover {
    background: #000;
}

@media (max-width: 480px) {
    .product__container {
        width: 100%;
    }

    .product__item {
        width: 100%;
    }
}